.maps-content {
    font-size: 14px;
    margin-top: 10px;
}

.map-link {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.map-link:hover {
    text-decoration: underline;
    color: #0b5ed7;
}
