html,
body,
#root {
  /* height: 100vh; */
  margin: 0 auto;
  padding: 0;
}

body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #f9f9f9;
}
.App {
  min-width: 1100px;
  display: flex;
  justify-content: center;
  padding: 20px;
  /*   background-color: #f5f5f5;
 */
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

/* Контейнер для всех блоков в вертикальном столбце */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Горизонтальное расположение NewsList и ErrorWork */
.top-section {
  display: flex;
  gap: 40px;
}

/* Контейнер для логотипа и шапки */
.header-container {
  display: flex;
  align-items: center; /* Выравнивание по вертикали */
  position: relative;
  width: 100%;
  max-width: 800px;
}

/* Логотип размещаем левее основного контента */
.logo {
  position: absolute;
  left: -130px; /* Смещаем логотип влево */
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.logo .highlight {
  color: #ff0000; /* Красный цвет для слова "Яндекс" */
}

/* Стили для шапки */
.header {
  flex: 1;
}
