html,
body,
#root {
  height: 100vh;
  margin: 0 auto;
  padding: 0;
}

body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #f9f9f9;
}

.app {
  height: 100%;
  width: 100%;
  background-color: #f0f0f0; /* Чтобы увидеть, что контейнер занимает всю страницу */
}
